{% extends 'base.html.twig' %}
{% block body %}
    <h1>Add student</h1>

    {{ form_start(form) }}
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}

        {{ form_row(form.lastname) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}
