{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('app_student_add') }}">Ajouter un étudiant</a>
    {% for student in students %}
        <h1>Hello {{ student.firstname }} <a href="{{ path('app_student_edit', {id: student.id}) }}">Edit</a> <a href="{{ path('app_student_delete', {id: student.id}) }}">Delete</a></h1>
    {% endfor %}
{% endblock %}
